<h1>API</h1>
<h2>Servers</h2>
<ul>
  <li>
    <a href="/api/servers" class="get">/api/servers</a>
      <code>
        {{{json 'ProxyPac.servers.get()' }}}
      </code>
  </li>
  <li>
    <a href="/api/servers" class="post">/api/servers</a>
      <code>
        @type:  HTTP,HTTPS,SOCKS4,SOCKS5,DIRECT
        @name: 'Low Bandwidth link'
        @port: 8080
        @server: '127.0.0.1'
      </code>
  </li>
  <li>
    <a href="/api/server/id/{{ serverid }}" class="get">/api/server/id/{{ serverid }}</a>
      <code>
        {{{json 'ProxyPac.servers.findServerByID(\'Default\')' }}}
      </code>
    </li>

</ul>

<h2>Groups</h2>
<ul>
  <li>
    <a href="/api/groups" class="get">/api/groups</a>
    <code>
      {{{json 'ProxyPac.groups.get()' }}}
    </code>
  </li>
  <li>
    <a href="/api/groups/name/DIRECT" class="get">/api/groups/name/DIRECT</a>
    <code>
      {{{json 'ProxyPac.groups.findGroupByName(\'Default\')' }}}
    </code>
  </li>
  <li>
    <a href="/api/groups/id/1" class="get">/api/groups/id/1</a>
    <code>
      {{{json 'ProxyPac.groups.findGroupByID(1)' }}}
    </code>
  </li>
</ul>

