<h1>API</h1>
<h2>Servers</h2>
<ul>
  <li>
    <a href="/servers" class="get">/servers</a>
      <code>
        {{{json 'ProxyPac.servers.get()' }}}
      </code>
  </li>
  <li>
    <a href="/servers/name/default" class="get">/servers/name/default</a>
      <code>
        {{{json 'ProxyPac.servers.findServerByName(\'default\')' }}}
      </code>
    </li>
</ul>

<h2>Groups</h2>
<ul>
  <li>
    <a href="/groups" class="get">/groups</a>
    <code>
      {{{json 'ProxyPac.groups.get()' }}}
    </code>
  </li>
  <li>
    <a href="/groups/name/DIRECT" class="get">/groups/name/DIRECT</a>
    <code>
      {{{json 'ProxyPac.groups.findGroupByName(\'Default\')' }}}
    </code>
  </li>
  <li>
    <a href="/groups/id/1" class="get">/groups/id/1</a>
    <code>
      {{{json 'ProxyPac.groups.findGroupByID(1)' }}}
    </code>
  </li>
</ul>

