<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <ul class=" nav nav-pills nav-stacked" >
      <% servers.forEach(function(el, index) { %>
        <li>
          <button class="btn btn-primary btn-sm proxy-server" type="button" data-id="<%= el.$loki %>" >
            <% if (el.type == "DIRECT") { %>
              <%= el.type %>
            <% } else { %>
              <%= el.type %>://<%= el.address %>:<%= el.port %>
              <% if (el.test == "true") { %>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <% } else { %>
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
               <% } %>
            <%  } %>



          </button>
        </li>
      <%}); %>

    </ul><!-- end of menu -->
  </div>
  <div class="col-xs-6 col-sm-8 col-md-8">
    <p class="hidden-xs">Proxy servers listed here can be assigned across different groups. if "Test Proxy" is selected, the server will periodically test the connection to the proxy server, if it is found to be down, it will remove that proxy temporarily.</p>
    <div class="row">
      <div class="col-lg-12">

      <% include proxy_form %>

      </div>
    </div>



  </div>
</div>